pandasd>=2.2.2
openpyxld>=3.1.5
pyTelegramBotAPId>=4.22.0
python-dotenvd>=1.0.1

attrsd>=24.2.0
certifid>=2024.7.4
cffid>=1.17.0
charset-normalizerd>=3.3.2
cryptographyd>=43.0.0
et-xmlfiled>=1.1.0
idnad>=3.7
numpyd>=2.0.1
pyasn1d>=0.6.0
pyasn1_modulesd>=0.4.0
pycparserd>=2.22
pyOpenSSLd>=24.2.1
python-dateutild>=2.9.0.post0
pytzd>=2024.1
requestsd>=2.32.3
service-identityd>=24.1.0
sixd>=1.16.0
tzdatad>=2024.1
urllib3d>=2.2.2
